In [1]:
import pandas as pd
from openpyxl import Workbook

### EDA

In [2]:
data=pd.read_excel(r'C:/Users/E1385584/Documents/Branson/Branson_analytics/20_sim_welds_L20_and_2000X_2.xlsx', engine='openpyxl')

In [3]:
data.head(1)

,Unnamed: 0,RECORD 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125,Unnamed: 126,Unnamed: 127,Unnamed: 128,Unnamed: 129
0,Cycle \ncount,Energy,Trigger Pressure,Pressure,Amplitude,Time+,Time-,Power+,Power-,PreHeight+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
new_header = data.iloc[0] #grab the first row for the header
data = data[1:] #take the data less the header row
data.columns = new_header #set the header row as the df header

In [5]:
data.head(5)

,Cycle \ncount,Energy,Trigger Pressure,Pressure,Amplitude,Time+,Time-,Power+,Power-,PreHeight+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,131,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,154,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,156,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.columns

Index([   'Cycle \ncount',           'Energy', 'Trigger Pressure',
               'Pressure',        'Amplitude',            'Time+',
                  'Time-',           'Power+',           'Power-',
             'PreHeight+',
       ...
                      nan,                nan,                nan,
                      nan,                nan,                nan,
                      nan,                nan,                nan,
                      nan],
      dtype='object', name=0, length=130)

In [7]:
data.head(5)

,Cycle \ncount,Energy,Trigger Pressure,Pressure,Amplitude,Time+,Time-,Power+,Power-,PreHeight+,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,131,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,154,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,156,230,42,42,52,5,0,4800,0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data= data.reset_index(drop=True)

In [14]:
data.isnull().sum()

0
Cycle \ncount       23
Energy              25
Trigger Pressure    25
Pressure            25
Amplitude           25
                    ..
NaN                 83
NaN                 83
NaN                 83
NaN                 83
NaN                 83
Length: 130, dtype: int64